:root {
  --red-color: #f72210;
  --yellow-color: #ffe401;
  --white: #fff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.brand {
  width: 8rem;
}

.fas {
  color: var(--white);
}

.top-nav {
  width: 100%;
  background-color: var(--red-color) ;
}

.subscribe-btn {
  background-color: var(--yellow-color);
  border-radius: 0.5rem;
  padding: 0 0.3rem;
  font-size: 0.9rem;
}

.login {
  background-color: var(--red-color);
  border: none;
  color: var(--white);
  font-weight: bold;
  font-size: 1.2rem;
  display: inline-block;
  height: 1.5rem;
}

@media screen and (min-width: 991px) {
  .brand {
    width: 25rem;
  }

  .cta-btns {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .main-container {
    width: 1200px;
  }
}