:root {
  --red-color: #f72210;
  --yellow-color: #ffe401;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 8rem;
}

.top-nav * {
  display: block;
}

.top-nav {
  background: var(--red-color);
  padding: 0.8rem;
  width: 100%;
}

.top-nav > div {
  width: 100%;
}

.buttons * {
  margin-right: 0.8rem;
}

.fas {
  color: var(--white);
}
.fa-bars {
  margin-right: 0;
}

.btn-2 {
  background-color: var(--yellow-color);
  border: none;
  border-radius: 0.7rem;
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
  font-weight: bold;
}

/* header {
  position: relative;
}

.top-nav > p {
  width: 10rem;
  margin-top: 1rem;
}

.logo {
  width: 20rem;
  height: 6rem;
  position: absolute;
  left: 30%;
  top: 0;
}

.main-container {
  width: 60rem;
}

.top-nav {
  background-color: var(--red-color);
  width: 100%;
  height: 6rem;
}

.top-nav p {
  color: white;
  margin-left: 1rem;
}

.btn-1 {
  background-color: var(--red-color);
  color: white;
  text-transform: uppercase;
  border: none;
}


.buttons i {
  margin-right: 0.5rem;
  display: none;
}
.buttons i {
  display: inline;
} */
