:root {
  --red-color: #f72210;
  --yellow-color: #ffe401;
  --white: #fff;
  --black: #000000;
  --grey: #e4e1e1;
  --light-grey: #f4f5f6;
  --dark-grey: #9a9a9a;
  --line-grey: #dddddd;
  --text-color: #595959;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

li {
  list-style: none;
}

p {
  line-height: 1.2rem;
}

.brand {
  width: 8rem;
}

.fas {
  color: var(--white);
}

.top-nav {
  width: 100%;
  background-color: var(--red-color);
}

.subscribe-btn {
  background-color: var(--yellow-color);
  border-radius: 0.5rem;
  padding: 0 0.3rem;
  font-size: 0.9rem;
}

.login {
  background-color: var(--red-color);
  border: none;
  color: var(--white);
  font-weight: bold;
  font-size: 1.2rem;
  display: inline-block;
  height: 1.5rem;
}

.navbar {
  padding: 0;
}

.navbars {
  width: 100%;
  position: relative;
  bottom: 1rem;
}

.container-1 {
  padding: 1rem;
}

.article-header {
  position: relative;
}

.image-banner {
  position: absolute;
  bottom: 0rem;
  padding: 0.3rem 1.2rem;
  background-color: var(--grey);
}

.section-title {
  font-size: 1rem;
  color: var(--dark-grey);
}

.mt-title {
  position: relative;
  left: -0.7rem;
}

.line-top {
  border-top: 1px solid var(--line-grey);
}

.article-links {
  font-size: 1.1rem;
  line-height: 1.1rem;
}

.article-text {
  color: var(--text-color);
  font-size: 1.1rem;
}

@media screen and (min-width: 768px) {
  .my-turn {
    margin-bottom: 2rem;
  }

  .article-text {
    font-size: 0.9rem;
  }

}

@media screen and (min-width: 992px) {
  .brand {
    width: 23rem;
  }

  .cta-btns {
    margin-top: 2rem;
  }

  .nav-link {
    padding: 0.4rem;
  }

  .nav-link,
  .search {
    font-size: 1.1rem;
  }

  .nav-line {
    display: block;
    border-right: 1px solid var(--grey);
    height: 1.6rem;
  }

  .search {
    background: url(/assets/search.svg);
    background-repeat: no-repeat;
    background-position: 4rem;
    background-size: 1.2rem;
    width: 6rem;
    padding-left: 0.5rem;
    border: 0;
    margin-bottom: 0.4rem;
  }

  .navbar-1 {
    min-width: 80%;
  }

  .navbar-1 ul {
    width: 93%;
    min-width: 93%;
    background-color: var(--white);
  }

  .navbar-2 {
    border-top: 2px solid var(--light-grey);
    border-bottom: 2px solid var(--light-grey);
  }

  .navbar-2 .nav-link {
    font-size: 1rem;
  }

  .article-text {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1300px) {
  .main-container {
    width: 1300px;
  }
  .more-stories {
  }

  .article-text {
    font-size: 1rem;
  }
}
